---
import Layout from "../layouts/Layout.astro";
import Principal from "../components/Principal.astro";
import Segundo from "../components/Segundo.astro";

---

<Layout>
  <div class="flex justify-center items-center w-screen h-full">
    <div
      class="fondo-sombra bg-[#BF1F77] w-screen h-screen  p-10 flex flex-col lg:flex-row lg:w-[850px] lg:h-[500px] lg:rounded-4xl"
    >
      <Principal />
      <Segundo />
    </div>
  </div>
</Layout>

<style>
  .fondo-sombra {
    box-shadow: 0 0 50px 0 rgba(191, 31, 119, 0.66);
  }
</style>
