---
import Layout from "../layouts/Layout.astro";
import Principal from "../components/Principal.astro";
import Segundo from "../components/Segundo.astro";

---

<Layout>
  <div class="flex justify-center items-center w-screen min-h-screen">
    <div
      class="fondo-sombra bg-[#BF1F77] w-screen h-screen flex flex-col p-1 gap-4 lg:w-[950px] lg:h-[550px] lg:rounded-3xl lg:flex-row lg:p-5"
    >
      <Principal />
      <Segundo />
    </div>
  </div>
</Layout>

<style>
  .fondo-sombra {
    box-shadow: 0 0 50px 0 rgba(191, 31, 119, 0.66);
  }
</style>
