---
const { logoName } = Astro.props;
---

<div
  class="bg-white px-15 py-5 w-full rounded-2xl h-[76px]"
>
  <p class="flex items-center gap-4">
    <ion-icon
      name=`logo-${logoName}`
      class="text-[#BF1F77] text-4xl"></ion-icon>
    <span class="text-[#BF1F77] font-bold mr-auto ml-auto text-center">
      <slot />
    </span>
  </p>
</div>
