<div
  class="w-[100%] h-full flex justify-center items-center flex-col gap-5 lg:w-[50%]"
>
  <div class="lg:w-15 mr-[90%] md:w-25 w-15">
    <img class="w-screen" src="Img-Logo.png" alt="" />
  </div>
  <img
    class="imgObstetra lg:w-60 lg:rounded-3xl rounded-[100%] md:w-85 w-60"
    src="Img-Obstetra.jpg"
    alt=""
  />

  <h1
    class="text-3xl md:text-5xl lg:text-4xl font-bold font-[Poppins] text-white text-center flex flex-col"
  >
    Obstetra <span>María Paula</span>
  </h1>
</div>

<style>
  h1 {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .imgObstetra {
    box-shadow: 0 0 20px 5px rgba(208, 208, 208, 0.5);
  }
</style>
