<div class="w-full h-[50%] flex flex-col justify-baseline items-center gap-2 md:w-full md:gap-8 grow basis-0 lg:h-full">
  <div class="">
    <img class="w-[5rem] mr-90 md:mr-150 lg:mr-80" src="Img-Logo.png" alt="" />
  </div>
  <img class="imgObstetra w-[16rem] rounded-full md:w-85 lg:w-70" src="Img-Obstetra.jpg" alt="" />
  <h1 class="text-white font-bold font-[Poppins] text-3xl flex flex-col text-center md:text-5xl overflow-hidden">
    Obstetra <span>María Paula</span>
  </h1>
</div>

<style>
  h1 {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .imgObstetra {
    box-shadow: 0 0 20px 5px rgba(208, 208, 208, 0.5);
  }
</style>
